body {
  background-color: black;
  color: white;
}
.form-label {
  background-color: gray;
}
.card {
  background: #ffffff;
  color: white;
}
.list-group-item {
  background: #ffffff;
  background: linear-gradient(134deg, rgba(255, 255, 255, 1) 0%, rgba(2, 2, 2, 1) 0%, rgba(55, 55, 55, 0.8) 100%);
  color: white;
}
